.m-background{
    background-image: url('../image/RFW1.png');
    left: 0%;
    top: 0%;
    position: absolute;
    z-index: -10;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.m-robot{
    margin: 10%;
    height: 70%;
}
.m-robot img{
    border-bottom-right-radius: 30%;
    border-top-right-radius: 50%;
    
}
.m-z-index{
    /* position: relative; */
    z-index: 50 !important;
}

.m-text{
    background-color: rgb(14, 9, 4);
    color: white;
    position: fixed;
    z-index: 10 ;
    margin-bottom: 10px;
    width: 90%;    
    border: 6px solid   rgb(234 235 156);
    padding: 15px;
    font-size: large;
}

.m-wallet{
    position: fixed; 
    /* position: absolute; */
    top: 0px;
    margin-top: 20px;    
}

.m-count{
    font-size: 100px;
    color:white;
}
.m-overlay{
    position: fixed;
    animation: overlay 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;    
}
.m-loading{
    top: 0px;
    /* background-color: rgb(0,0,0,0.8); */
    background-color: black;
    opacity: 0.9;
    position: fixed;

}

body{
    background-color: rgb(39, 36, 36);
}
@keyframes overlay {
    from {background-color: black; opacity: 1;}
    to {background-color: black; opacity: 0;}
}



.brightness {filter: brightness(250%);}
.contrast {filter: contrast(180%);}
.grayscale {filter: grayscale(100%);}
.huerotate {filter: hue-rotate(180deg);}
.invert {filter: invert(100%);}
.opacity {filter: opacity(50%);}
.saturate {filter: saturate(7);}
.sepia {filter: sepia(100%);}
.shadow {filter: drop-shadow(8px 8px 10px rgb(235, 236, 230));}